<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <title>index</title>
</head>

<body>
    {{>header}}
  
    <div>
            <p>Created by {{name}}</p>
    </div>
    <div>
        <h3>it is a lot fun!</h3>

    </div>


</body>

</html>