body {
    color: #333333;
    font-family: arial;
    margin: 0;
}

h1 {
    font-family: helvetica;
    font-size: 5rem;
    color: grey;
    padding: 20px;
    margin: 0 auto;
}
img {
    width: 108%;
}

.header {
    background-color: greenyellow
}